#policyUpdateDate {
    font-size: 14px;
    font-weight: 700;
}

.policyText {
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    line-height: 1.5em;
    padding-top: 2em;
    padding-bottom: 1em;
}