body {
    background-color: #F5F5F5;
    color: #041426;
}

h1 {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 30px;
    color: #112C64;
}

h2 {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 30px;
    color: #112C64;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: justify;
    padding-bottom: 1em;
}

#iconDiv {
    background-color: #112C64;
}